Repository COQOON-labs/qoomb: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --config eslint.config.json-lint.js

fix(api): resolve TS/ESLint problems post ADR-0009 schema changes
  apps/api/eslint.config.js
  apps/api/prisma/scripts/reencrypt.ts
  apps/api/src/modules/auth/refresh-token.service.test.ts
  apps/api/tsconfig.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix(api): resolve ESLint violations in prisma/scripts
  apps/api/eslint.config.js
  apps/api/prisma/scripts/reencrypt.test.ts
Due: prettier --write

chore(turbo): bust type-check cache when schema.prisma changes
  turbo.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix(api): remove eager DATABASE_URL from prisma.config.ts
  apps/api/prisma.config.ts
Due: prettier --write

fix(api): resolve schema/migration drift and prisma.config.ts DATABASE_URL
  apps/api/package.json
  apps/api/prisma.config.ts
  apps/api/prisma/migrations/20260317000014_drop_list_item_values_updated_at_default/migration.sql
  justfile
Due: prettier --write, eslint --config eslint.config.json-lint.js

feat(lists): Scope 1 completion — type, sortMode, timestamps, inbox, templates
  apps/api/prisma/migrations/20260318000015_lists_type_sortmode_timestamps/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/modules/lists/lists.router.ts
  apps/api/src/modules/lists/lists.service.ts
  packages/types/src/entities/list.ts
  packages/validators/src/schemas/list.ts
Due: prettier --write

feat(web): list UX improvements — settings, field editing, toasts, item count
  apps/api/src/modules/lists/lists.service.ts
  apps/web/src/App.tsx
  apps/web/src/components/icons/ChevronDownIcon.tsx
  apps/web/src/components/icons/EllipsisVerticalIcon.tsx
  apps/web/src/components/icons/XIcon.tsx
  apps/web/src/components/icons/index.ts
  apps/web/src/components/layout/ToastContainer.tsx
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/lib/toast.ts
  apps/web/src/pages/ListDetailPage.test.tsx
  apps/web/src/pages/ListDetailPage.tsx
  apps/web/src/pages/ListsPage.tsx
  apps/web/src/test/setup.ts
Due: prettier --write

feat(web): views + checklist view for lists
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/pages/ListDetailPage.test.tsx
  apps/web/src/pages/ListDetailPage.tsx
Due: prettier --write

feat(web): drag & drop item reordering for table and checklist views
  apps/web/package.json
  apps/web/src/pages/ListDetailPage.test.tsx
  apps/web/src/pages/ListDetailPage.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

refactor(web): code quality cleanup across all pages
  apps/web/src/components/icons/DragHandleIcon.tsx
  apps/web/src/components/icons/index.ts
  apps/web/src/pages/ActivityPage.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/pages/GroupsPage.tsx
  apps/web/src/pages/HiveSettingsPage.tsx
  apps/web/src/pages/ListDetailPage.tsx
  apps/web/src/pages/MembersPage.tsx
  apps/web/src/pages/MessagingPage.tsx
  apps/web/src/pages/NotificationsPage.tsx
Due: prettier --write

fix(deps): bump flatted override to >=3.4.2 (GHSA-rf6f-7fwh-wjgh)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

Merge pull request #135 from COQOON-labs/feat/lists-drag-drop
  apps/web/package.json
  apps/web/src/components/icons/DragHandleIcon.tsx
  apps/web/src/components/icons/index.ts
  apps/web/src/pages/ActivityPage.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/pages/GroupsPage.tsx
  apps/web/src/pages/HiveSettingsPage.tsx
  apps/web/src/pages/ListDetailPage.test.tsx
  apps/web/src/pages/ListDetailPage.tsx
  apps/web/src/pages/MembersPage.tsx
  apps/web/src/pages/MessagingPage.tsx
  apps/web/src/pages/NotificationsPage.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

ci: add dependency-review workflow to catch CVEs at PR time
  .github/workflows/dependency-review.yml
Due: prettier --write

ci: opt into Node.js 24 runtime across all workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/scorecard.yml
  .github/workflows/trivy.yml
  .github/workflows/version-check.yml
Due: prettier --write

fix(ci): correct dependency-review action input name
  .github/workflows/dependency-review.yml
Due: prettier --write

ci: streamline from 8 to 6 workflow files
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/monitoring.yml
  .github/workflows/scorecard.yml
  .github/workflows/trivy.yml
Due: prettier --write

fix(ci): upgrade codecov to v5.5.3 and fix CodeQL annotations
  .github/workflows/ci.yml
  apps/web/src/components/dev/DevPanel.tsx
  apps/web/src/pages/DashboardSketch.tsx
  apps/web/src/pages/ListDetailPage.test.tsx
  apps/web/src/pages/ListDetailPage.tsx
Due: prettier --write

fix(ci): run Trivy SARIF scans on PRs to satisfy Code Scanning required check
  .github/workflows/monitoring.yml
Due: prettier --write

feat(lists): add kanban view with drag-and-drop between columns
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/pages/ListDetailPage.tsx
  packages/validators/src/schemas/__tests__/list.test.ts
  packages/validators/src/schemas/list.ts
Due: prettier --write

feat(dashboard): add checklist progress bars to list cards
  apps/web/src/pages/Dashboard.tsx
Due: prettier --write

feat(lists): add recurring item support with client-side recurrence expansion
  apps/api/prisma/migrations/20260319000016_list_items_recurrence_rule/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/lists/lists.router.ts
  apps/api/src/modules/lists/lists.service.ts
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/pages/ListDetailPage.tsx
  packages/validators/src/schemas/list.ts
Due: prettier --write

refactor(web): extract list sub-components and panels into dedicated files
  apps/api/prisma/migrations/20260319000016_list_items_recurrence_rule/migration.sql
  apps/web/src/components/groups/GroupDetail.tsx
  apps/web/src/components/lists/AddFieldForm.tsx
  apps/web/src/components/lists/AddViewPanel.tsx
  apps/web/src/components/lists/FieldEditPanel.tsx
  apps/web/src/components/lists/KanbanCard.tsx
  apps/web/src/components/lists/KanbanColumn.tsx
  apps/web/src/components/lists/SortableChecklistItem.tsx
  apps/web/src/components/lists/SortableTableRow.tsx
  apps/web/src/components/lists/types.ts
  apps/web/src/i18n/i18n-util.async.ts
  apps/web/src/pages/GroupsPage.tsx
  apps/web/src/pages/ListDetailPage.tsx
  apps/web/src/test/setup.ts
Due: prettier --write

fix(lists): checklist add item, visibility bug, and checkbox field setup
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/i18n/i18n-util.async.ts
  apps/web/src/pages/ListDetailPage.tsx
Due: prettier --write

feat(lists): favorites with star, search, and DnD reorder
  apps/api/prisma/migrations/20260320000017_list_favorites/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/lists/lists.router.ts
  apps/web/src/components/icons/StarIcon.tsx
  apps/web/src/components/icons/index.ts
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/pages/ListsPage.tsx
Due: prettier --write

fix(lists): UX polish — icon visibility, DnD right-side, search shows favorites
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/pages/ListsPage.tsx
  docs/UX_PATTERNS.md
Due: prettier --write

fix(lists): add spacer in ListRow to align icons with SortableFavoriteRow
  apps/web/src/pages/ListsPage.tsx
Due: prettier --write

chore(seed): translate system template names and field labels to English
  apps/api/prisma/seed.ts
Due: prettier --write

chore(seed): add example lists with content for Doe Family
  apps/api/prisma/seed.ts
Due: prettier --write

fix(seed): use RFC 4122-compliant UUIDs to pass Zod v4 validation
  apps/api/prisma/seed.ts
Due: prettier --write

fix(dev): stop Caddy on Ctrl+C by running it as child process with trap
  justfile
Due: none

fix(lists): resolve person IDs to display names in list view
  apps/web/src/pages/ListDetailPage.tsx
Due: prettier --write

fix(lists): person fields use dropdown picker and show resolved person badge
  apps/web/src/components/lists/SortableTableRow.tsx
  apps/web/src/pages/ListDetailPage.tsx
Due: prettier --write

feat(lists): person fields support multiple assignees and free text
  apps/web/src/components/lists/PersonCellPicker.tsx
  apps/web/src/components/lists/SortableTableRow.tsx
  apps/web/src/components/lists/personField.utils.ts
  apps/web/src/pages/ListDetailPage.tsx
Due: prettier --write

fix(a11y): distinguish free-text from resolved person badges using redundant visual cues
  apps/web/src/components/lists/PersonCellPicker.tsx
  apps/web/src/components/lists/SortableTableRow.tsx
  docs/adr/0006-accessibility-standards.md
Due: prettier --write

feat(lists): Notion-style autocomplete search for person field picker
  apps/web/src/components/lists/PersonCellPicker.tsx
Due: prettier --write

fix(a11y): correct ARIA combobox pattern and eliminate stale-closure eslint suppression
  apps/web/src/components/lists/PersonCellPicker.tsx
Due: prettier --write

feat(i18n): internationalise PersonCellPicker hardcoded strings
  apps/web/src/components/lists/PersonCellPicker.tsx
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
Due: prettier --write

fix(validation): cap listItemValue strings, harden i18n in row and picker
  apps/web/src/components/lists/PersonCellPicker.tsx
  apps/web/src/components/lists/SortableTableRow.tsx
  packages/validators/src/schemas/list.ts
Due: prettier --write

fix(validation): limit listItemValueSchema to 200 entries to prevent DoS
  packages/validators/src/schemas/list.ts
Due: prettier --write

chore(db): include list favorites migration
  apps/api/prisma/migrations/20260320000017_list_favorites/migration.sql
Due: none

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.json)) or (any of: *.{md,yml,yaml})
  eslint --config eslint.config.json-lint.js: any of: *.json
