Repository COQOON-labs/qoomb: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --config eslint.config.json-lint.js

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write"],
  "*.json": ["prettier --write", "eslint --config eslint.config.json-lint.js"],
  "*.{md,yml,yaml}": ["prettier --write"]
}

refactor(encryption): add nested path syntax to field encryption decorators
  apps/api/src/modules/encryption/decorators/encrypt-fields.decorator.ts
  apps/api/src/modules/lists/lists.service.ts
Due: prettier --write

feat(encryption): add migrateLists to key rotation script
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  apps/api/prisma/scripts/reencrypt.ts
Due: prettier --write

feat(web): add ListDetailPage with items table, field management, and /lists/:id route
  apps/web/src/App.tsx
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/pages/ListDetailPage.tsx
Due: prettier --write

feat(web): interactive list features — rename, remove field, inline edit, templates, live dashboard
  apps/web/src/components/icons/PencilIcon.tsx
  apps/web/src/components/icons/index.ts
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/pages/ListDetailPage.tsx
  apps/web/src/pages/ListsPage.tsx
Due: prettier --write

feat(web): tests, icon picker, archive toggle, a11y fixes
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/pages/Dashboard.a11y.test.tsx
  apps/web/src/pages/ListDetailPage.test.tsx
  apps/web/src/pages/ListDetailPage.tsx
  apps/web/src/pages/ListsPage.test.tsx
  apps/web/src/pages/ListsPage.tsx
Due: prettier --write

test: comprehensive test coverage for Lists feature
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/src/common/guards/resource-access.guard.test.ts
  apps/web/src/pages/ListDetailPage.test.tsx
  apps/web/src/pages/ListsPage.test.tsx
  packages/validators/package.json
  packages/validators/src/schemas/__tests__/list.test.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

chore(deps): fix high-severity audit vulnerabilities (flatted, undici)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

feat(db): add Prisma migration for Lists schema (drop Tasks, create Lists)
  apps/api/prisma/migrations/20260313000003_lists/migration.sql
Due: none

chore(deps): fix medium-severity vulnerabilities (file-type, hono)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

docs: restructure roadmap phases and update implementation status
  AGENTS.md
  CLAUDE.md
  docs/CONTENT_ARCHITECTURE.md
  docs/adr/0005-hybrid-encryption-architecture.md
Due: prettier --write

refactor(lists): simplify ListItemValue to single encrypted column
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  apps/api/prisma/migrations/20260313000003_lists/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/scripts/reencrypt.ts
  apps/api/src/modules/lists/lists.service.ts
  apps/web/src/pages/ListDetailPage.test.tsx
  apps/web/src/pages/ListDetailPage.tsx
  docs/LISTS_CONCEPT.md
  docs/adr/0007-flexible-lists-architecture.md
Due: prettier --write

feat(web): add MembersPage and GroupsPage with CRUD, i18n, and tests
  apps/web/src/App.tsx
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/layouts/AppShell.tsx
  apps/web/src/pages/GroupsPage.test.tsx
  apps/web/src/pages/GroupsPage.tsx
  apps/web/src/pages/MembersPage.test.tsx
  apps/web/src/pages/MembersPage.tsx
Due: prettier --write

test: add 80% coverage thresholds and critical business logic tests
  .github/workflows/ci.yml
  .husky/pre-push
  apps/api/jest.config.js
  apps/api/src/common/guards/hive-permission.guard.test.ts
  apps/api/src/modules/encryption/decorators/encrypt-fields.decorator.test.ts
  apps/api/src/modules/encryption/encryption.service.test.ts
  apps/api/src/trpc/guards.test.ts
  apps/web/vitest.config.ts
  packages/validators/package.json
  packages/validators/src/schemas/__tests__/auth.test.ts
  packages/validators/src/schemas/__tests__/common.test.ts
  packages/validators/src/schemas/__tests__/event.test.ts
  packages/validators/src/schemas/__tests__/group.test.ts
  packages/validators/src/schemas/__tests__/locale.test.ts
  packages/validators/src/schemas/__tests__/person.test.ts
  packages/validators/src/utils/__tests__/sanitize.test.ts
  packages/validators/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

test: await async decorator decryption assertions
  apps/api/src/modules/encryption/decorators/encrypt-fields.decorator.test.ts
Due: prettier --write

test: align decorator test doubles with async decryption
  apps/api/src/modules/encryption/decorators/encrypt-fields.decorator.test.ts
Due: prettier --write

test: return promises in decrypt decorator test doubles
  apps/api/src/modules/encryption/decorators/encrypt-fields.decorator.test.ts
Due: prettier --write

feat: invitation cleanup, re-encryption backups, and list select options
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/prisma/migrations/20260314000004_add_reencrypt_backup/migration.sql
  apps/api/prisma/migrations/20260314000005_invitation_email/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/scripts/reencrypt-cleanup.ts
  apps/api/prisma/scripts/reencrypt-rollback.ts
  apps/api/prisma/scripts/reencrypt.test.ts
  apps/api/prisma/scripts/reencrypt.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/invitation-cleanup.task.ts
  apps/api/src/modules/auth/invitation-cleanup.test.ts
  apps/api/src/modules/auth/passkey.service.ts
  apps/api/src/modules/encryption/encryption.service.ts
  apps/api/src/modules/lists/lists-select-options.test.ts
  apps/api/src/modules/lists/lists.router.ts
  apps/api/src/modules/lists/lists.service.ts
  docs/adr/0007-flexible-lists-architecture.md
  docs/adr/0008-secure-reencryption-process.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix: drop partial email index on invitations to resolve schema drift
  apps/api/prisma/migrations/20260315000006_drop_invitation_email_partial_index/migration.sql
Due: none

fix: upgrade yauzl to 3.2.1 via pnpm override (CVE-2026-31988)
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

chore(main): release 0.3.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

feat: implement Phase 3 — Hive Management, Notifications, Messaging, Activity Log
  CLAUDE.md
  apps/api/prisma/migrations/20260315000007_phase3_hive_notifications_messaging/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/app.module.ts
  apps/api/src/modules/activity/activity.module.ts
  apps/api/src/modules/activity/activity.router.ts
  apps/api/src/modules/activity/activity.service.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/hive/hive.module.ts
  apps/api/src/modules/hive/hive.router.ts
  apps/api/src/modules/hive/hive.service.ts
  apps/api/src/modules/messaging/messaging.module.ts
  apps/api/src/modules/messaging/messaging.router.ts
  apps/api/src/modules/messaging/messaging.service.ts
  apps/api/src/modules/notifications/notifications.module.ts
  apps/api/src/modules/notifications/notifications.router.ts
  apps/api/src/modules/notifications/notifications.service.ts
  apps/api/src/modules/persons/persons.router.ts
  apps/api/src/trpc/app.router.ts
  apps/api/src/trpc/trpc.module.ts
  apps/api/src/trpc/trpc.service.ts
  apps/web/src/App.tsx
  apps/web/src/components/layout/NotificationsBell.tsx
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/layouts/AppShell.tsx
  apps/web/src/pages/ActivityPage.tsx
  apps/web/src/pages/HiveSettingsPage.tsx
  apps/web/src/pages/MembersPage.tsx
  apps/web/src/pages/MessagingPage.tsx
  apps/web/src/pages/NotificationsPage.tsx
  packages/types/src/permissions.ts
  packages/validators/src/index.ts
  packages/validators/src/schemas/activity.ts
  packages/validators/src/schemas/hive.ts
  packages/validators/src/schemas/message.ts
  packages/validators/src/schemas/notification.ts
Due: prettier --write

feat(email): add pg-boss async email queue
  apps/api/package.json
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/email/email-queue.service.ts
  apps/api/src/modules/email/email.module.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix(validators): update z.record() to zod v4 two-argument syntax
  packages/validators/src/schemas/hive.ts
Due: prettier --write

fix(validators): fix z.record() calls for zod v4 compatibility
  packages/validators/src/schemas/notification.ts
Due: prettier --write

docs: add WEAKNESS-LOG.md with initial security and quality findings
  docs/WEAKNESS-LOG.md
Due: prettier --write

fix: address 18 security and quality weaknesses from dev assessment
  .github/workflows/ci.yml
  CLAUDE.md
  apps/api/eslint.config.js
  apps/api/prisma/migrations/20260315000006_drop_invitation_email_partial_index/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/common/services/redis.service.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/email/email-queue.service.ts
  apps/api/src/modules/lists/lists.service.ts
  apps/api/src/modules/messaging/messaging.router.ts
  apps/api/src/modules/messaging/messaging.service.ts
  apps/api/src/modules/persons/persons.module.ts
  apps/api/src/modules/persons/persons.service.ts
  apps/api/src/prisma/prisma.service.ts
  apps/web/index.html
  apps/web/src/components/layout/NotificationsBell.tsx
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/pages/GroupsPage.test.tsx
  apps/web/src/pages/GroupsPage.tsx
  apps/web/src/pages/HiveSettingsPage.tsx
  apps/web/src/pages/MembersPage.test.tsx
  apps/web/src/pages/MembersPage.tsx
  apps/web/src/pages/MessagingPage.tsx
  docs/REGRESSION-PATTERNS.md
  docs/WEAKNESS-LOG.md
  package.json
  packages/eslint-config/react.js
  packages/ui/src/components/ConfirmDialog.tsx
  packages/ui/src/components/index.ts
Due: prettier --write, eslint --config eslint.config.json-lint.js

test: add unit tests for 11 services, fix pg-boss ESM incompatibility
  apps/api/jest.config.js
  apps/api/prisma/scripts/reencrypt.test.ts
  apps/api/src/__mocks__/pg-boss.js
  apps/api/src/modules/activity/activity.service.test.ts
  apps/api/src/modules/auth/auth.service.test.ts
  apps/api/src/modules/auth/passkey.service.test.ts
  apps/api/src/modules/auth/refresh-token.service.test.ts
  apps/api/src/modules/auth/system-config.service.test.ts
  apps/api/src/modules/email/email.service.test.ts
  apps/api/src/modules/events/events.service.test.ts
  apps/api/src/modules/groups/groups.service.test.ts
  apps/api/src/modules/hive/hive.service.test.ts
  apps/api/src/modules/messaging/messaging.service.test.ts
  apps/api/src/modules/notifications/notifications.service.test.ts
  apps/api/src/modules/persons/persons.service.test.ts
Due: prettier --write

fix(lint): fix ESLint errors in test files
  apps/api/eslint.config.js
  apps/api/src/modules/auth/passkey.service.test.ts
  apps/api/src/modules/auth/system-config.service.test.ts
  apps/api/src/modules/email/email.service.test.ts
Due: prettier --write

style: run Prettier on AppShell, ActivityPage, NotificationsPage
  apps/web/src/layouts/AppShell.tsx
  apps/web/src/pages/ActivityPage.tsx
  apps/web/src/pages/NotificationsPage.tsx
Due: prettier --write

fix: restore package.json version to 0.3.0
  package.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix(Q-003): replace hardcoded admin-role literals with enum values
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/persons/persons.service.ts
  packages/types/src/entities/person.utils.ts
Due: prettier --write

fix(db): reconcile Phase 3 schema with Prisma expectations
  apps/api/prisma/migrations/20260316000008_fix_phase3_schema_sync/migration.sql
Due: none

fix(test): fix AppShell and Dashboard a11y test failures
  apps/web/src/layouts/AppShell.a11y.test.tsx
  apps/web/src/pages/Dashboard.a11y.test.tsx
Due: prettier --write

fix(types): pin @types/pg to 8.18.0 via pnpm override
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

perf(lists): replace single-column list_id indexes with composite (list_id, sort_order)
  apps/api/prisma/migrations/20260317000009_lists_composite_indexes/migration.sql
  apps/api/prisma/schema.prisma
Due: none

refactor(lists): remove assigneeId hard-column from list_items
  apps/api/prisma/migrations/20260317000010_list_items_drop_assignee_id/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/modules/lists/lists.router.ts
  apps/api/src/modules/lists/lists.service.ts
  packages/types/src/entities/list.ts
  packages/validators/src/schemas/__tests__/list.test.ts
  packages/validators/src/schemas/list.ts
Due: prettier --write

feat(lists): add updated_at to list_item_values for field-level LWW sync
  apps/api/prisma/migrations/20260317000011_list_item_values_add_updated_at/migration.sql
  apps/api/prisma/schema.prisma
  packages/types/src/entities/list.ts
Due: prettier --write

fix(lists): enforce list_items.hive_id consistency via DB trigger
  apps/api/prisma/migrations/20260317000012_list_items_hive_id_trigger/migration.sql
  apps/api/prisma/schema.prisma
Due: none

feat(lists): add reorderItems endpoint for fractional-index rebalancing
  apps/api/src/modules/lists/lists.router.ts
  apps/api/src/modules/lists/lists.service.ts
  packages/types/src/entities/list.ts
  packages/validators/src/schemas/__tests__/list.test.ts
  packages/validators/src/schemas/list.ts
Due: prettier --write

refactor(lists): unify ListTemplate into List with isTemplate flag (ADR-0009)
  apps/api/prisma/migrations/20260317000013_unify_list_templates/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/common/guards/resource-access.guard.ts
  apps/api/src/modules/lists/lists.service.ts
  apps/api/src/prisma/prisma.service.ts
  docs/adr/0009-unified-list-template-model.md
  packages/types/src/entities/list.ts
  packages/validators/src/schemas/list.ts
Due: prettier --write
