Repository COQOON-labs/qoomb: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --config eslint.config.json-lint.js

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["prettier --write"],
  "*.json": ["prettier --write", "eslint --config eslint.config.json-lint.js"],
  "*.{md,yml,yaml}": ["prettier --write"]
}

fix(ci): skip validateSingleCommitMatchesPrTitle for Dependabot
  .github/workflows/ci.yml
Due: prettier --write

style: format AGENTS.md and CLAUDE.md with Prettier
  AGENTS.md
  CLAUDE.md
Due: prettier --write

fix(auth): use millisecond arithmetic for refresh token expiry
  apps/api/src/modules/auth/refresh-token.service.ts
Due: prettier --write

docs: update GitNexus symbol count to 1567
  AGENTS.md
  CLAUDE.md
Due: prettier --write

docs: update GitNexus index to current state
  AGENTS.md
  CLAUDE.md
Due: prettier --write

Merge remote-tracking branch 'origin/main' into feat/list-settings-panel
  package.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

chore: exclude AGENTS.md and CLAUDE.md from Prettier
  .prettierignore
Due: none

docs: update GitNexus index
  AGENTS.md
  CLAUDE.md
Due: prettier --write

chore(main): release 0.4.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix(lists): set sortOrder=MAX+1 on createItem, add secondary createdAt sort
  AGENTS.md
  CLAUDE.md
  apps/api/src/modules/lists/lists.router.ts
  apps/api/src/modules/lists/lists.service.ts
Due: prettier --write

fix(lists): fix DnD ordering consistency, table snap-back, blur-to-submit
  apps/web/src/pages/ListDetailPage.tsx
Due: prettier --write

feat(lists): replace icon picker with emoji-mart + German keyword augmentation
  apps/web/package.json
  apps/web/src/components/EmojiPicker.tsx
  apps/web/src/lib/emojiAugmentation.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js
