Repository COQOON-labs/qoomb: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --config eslint.config.json-lint.js

fix: packages/eslint-config/package.json to reduce vulnerabilities
  packages/eslint-config/package.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

chore: Update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix: remove redundant dotenv/config import from prisma.config.ts
  apps/api/prisma.config.ts
Due: prettier --write

chore: Update gitignore
  .gitignore
Due: none

fix: sync pnpm-lock.yaml with eslint-config package.json
  pnpm-lock.yaml
Due: prettier --write

fix: resolve PassKey WebAuthn origin mismatch and harden dev setup
  .env.example
  CLAUDE.md
  README.md
  apps/api/src/config/env.validation.ts
  apps/api/src/modules/auth/passkey.service.ts
  docs/LOCAL_DEVELOPMENT.md
  docs/SECURITY.md
  justfile
  scripts/setup-local-domain.sh
  setup.sh
Due: prettier --write

fix: correct import order in passkey.service.ts
  apps/api/src/modules/auth/passkey.service.ts
Due: prettier --write

chore(main): release 0.2.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

chore(eslint): migrate to ESLint 10 + flat config
  .eslintignore
  .eslintrc.json
  apps/api/.eslintrc.json
  apps/api/eslint.config.js
  apps/api/package.json
  apps/web/.eslintrc.json
  apps/web/eslint.config.cjs
  apps/web/package.json
  eslint.config.js
  packages/eslint-config/index.js
  packages/eslint-config/node.js
  packages/eslint-config/package.json
  packages/eslint-config/react.js
  packages/types/.eslintrc.json
  packages/types/eslint.config.js
  packages/types/package.json
  packages/ui/.eslintrc.json
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/validators/.eslintrc.json
  packages/validators/eslint.config.js
  packages/validators/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix: resolve ESLint 10 rule violations
  apps/api/src/common/guards/custom-throttler.guard.ts
  apps/api/src/config/env.validation.ts
  apps/api/src/i18n/i18n-util.async.ts
  apps/api/src/modules/encryption/encryption.service.ts
  apps/api/src/modules/encryption/providers/environment-key.provider.ts
  apps/api/src/modules/encryption/providers/file-key.provider.ts
  apps/api/src/modules/events/events.service.ts
  apps/api/src/modules/tasks/tasks.service.ts
  apps/web/src/i18n/i18n-util.async.ts
  apps/web/src/lib/trpc/Provider.tsx
Due: prettier --write

fix(deps): bump minimatch override to >=10.2.3 (CVE-2026-27903)
  package.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix(ci): add Prisma generate step to post-release build job
  .github/workflows/release.yml
Due: prettier --write

chore(main): release 0.2.1
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix(web): split invalid CSS dark mode selector to fix production build
  apps/web/src/styles/index.css
Due: none

docs: populate AGENTS.md with full development guidelines
  .gitignore
  AGENTS.md
Due: prettier --write

chore: exclude .claude skills dir from prettier checks
  .prettierignore
Due: none

feat: WCAG 2.1 AA accessibility standards, test infrastructure, and feature flag system
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/i18n/i18n-util.async.ts
  apps/web/src/layouts/AppShell.a11y.test.tsx
  apps/web/src/layouts/AppShell.tsx
  apps/web/src/lib/flags/index.ts
  apps/web/src/pages/Dashboard.a11y.test.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/pages/DashboardSketch.tsx
  apps/web/src/pages/LoginPage.a11y.test.tsx
  apps/web/src/test/setup.ts
  apps/web/src/test/test-utils.tsx
  apps/web/vitest.config.ts
  docs/adr/0006-accessibility-standards.md
  packages/eslint-config/package.json
  packages/eslint-config/react.js
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix(a11y): explicitly forward children in CardTitle to satisfy jsx-a11y/heading-has-content
  packages/ui/src/components/Card.tsx
Due: prettier --write

fix(eslint): disable label-has-associated-control due to jsx-a11y@6.10.2+ESLint10 crash
  packages/eslint-config/react.js
Due: none

fix(lint): fix import order in test files, remove redundant async keyword
  apps/web/src/i18n/i18n-util.async.ts
  apps/web/src/layouts/AppShell.a11y.test.tsx
  apps/web/src/pages/Dashboard.a11y.test.tsx
  apps/web/src/pages/LoginPage.a11y.test.tsx
  apps/web/src/test/test-utils.tsx
Due: prettier --write

chore(main): release 0.3.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

chore(deps): consolidate all dependabot updates + group config
  .github/dependabot.yml
  pnpm-lock.yaml
Due: prettier --write

fix: apps/api/package.json to reduce vulnerabilities
  apps/api/package.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix(security): patch high-severity audit vulnerabilities via pnpm overrides
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix(security): add fastify override to fix CVE-2026-3419
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --config eslint.config.json-lint.js

chore(deps): consolidate all open dependabot + snyk updates
  pnpm-lock.yaml
Due: prettier --write

fix(api): cast fastify plugins to any to fix TS type error with fastify 5.8.x
  apps/api/src/main.ts
Due: prettier --write

fix(api): suppress fastify plugin type errors caused by fastify 5.8.x
  apps/api/src/main.ts
Due: prettier --write

chore: regenerate lock file after merging security overrides
  pnpm-lock.yaml
Due: prettier --write

fix(api): remove stale @ts-expect-error directives, type errors resolved by updated deps
  apps/api/src/main.ts
Due: prettier --write

refactor(justfile): extract _docker-volumes-remove, dynamic version, fix stop description
  justfile
Due: none

feat(dashboard): time-based greeting variants
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/pages/DashboardSketch.tsx
  apps/web/src/test/test-utils.tsx
Due: prettier --write

fix(dashboard): improve greeting variety and replace reflection prompts
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/pages/Dashboard.tsx
Due: prettier --write

fix(dashboard): polish greeting copy for warmth and naturalness
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
Due: prettier --write

fix(web): remove deprecated baseUrl from tsconfig, annotate trpc client type
  apps/web/src/lib/trpc/client.ts
  apps/web/tsconfig.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

fix(i18n): polish greeting texts for natural phrasing in DE and EN
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
Due: prettier --write

feat: replace Tasks with Lists (PR 1 — foundation)
  apps/api/prisma/schema.prisma
  apps/api/prisma/scripts/reencrypt.ts
  apps/api/src/app.module.ts
  apps/api/src/modules/tasks/tasks.module.ts
  apps/api/src/modules/tasks/tasks.router.ts
  apps/api/src/modules/tasks/tasks.service.ts
  apps/api/src/prisma/prisma.service.ts
  apps/api/src/trpc/app.router.ts
  apps/api/src/trpc/trpc.module.ts
  apps/api/src/trpc/trpc.service.ts
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/layouts/AppShell.tsx
  apps/web/src/pages/Dashboard.a11y.test.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/pages/DashboardSketch.tsx
  docs/CONTENT_ARCHITECTURE.md
  docs/LISTS_CONCEPT.md
  docs/adr/0007-flexible-lists-architecture.md
  docs/adr/README.md
  packages/types/src/entities/index.ts
  packages/types/src/entities/list.ts
  packages/types/src/entities/task.ts
  packages/types/src/permissions.ts
  packages/validators/src/index.ts
  packages/validators/src/schemas/index.ts
  packages/validators/src/schemas/list.ts
  packages/validators/src/schemas/task.ts
Due: prettier --write

feat(lists): add backend lists module with full CRUD and RBAC
  apps/api/eslint.config.js
  apps/api/prisma/scripts/reencrypt.ts
  apps/api/src/app.module.ts
  apps/api/src/modules/lists/lists.module.ts
  apps/api/src/modules/lists/lists.router.ts
  apps/api/src/modules/lists/lists.service.ts
  apps/api/src/prisma/prisma.service.ts
  apps/api/src/trpc/app.router.ts
  apps/api/src/trpc/trpc.module.ts
  apps/api/src/trpc/trpc.service.ts
  apps/api/tsconfig.json
Due: prettier --write, eslint --config eslint.config.json-lint.js

feat(web): add ListsPage with CRUD, i18n, and /lists route
  apps/web/src/App.tsx
  apps/web/src/components/icons/TrashIcon.tsx
  apps/web/src/components/icons/index.ts
  apps/web/src/i18n/de/index.ts
  apps/web/src/i18n/en/index.ts
  apps/web/src/i18n/i18n-types.ts
  apps/web/src/i18n/i18n-util.async.ts
  apps/web/src/pages/ListsPage.tsx
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.json)) or (any of: *.{md,yml,yaml})
  eslint --config eslint.config.json-lint.js: any of: *.json
